[importlinter]
root_package = alphabet

[importlinter:contract:layers-shared]
name=Layered Shared
type=layers
containers =
    alphabet.shared
layers=
    presentation
    infrastructure
    application
    domain
    uuid
    config
    commons
    const
exhaustive = true

[importlinter:contract:layers-access]
name=Layered Access
type=layers
containers =
    alphabet.access
layers=
    presentation
    infrastructure
    application
    domain
exhaustive = true

[importlinter:contract:layers-experiments]
name=Layered Experiments
type=layers
containers =
    alphabet.experiments
layers=
    presentation
    infrastructure
    application
    domain
exhaustive = true

[importlinter:contract:layers-decisions]
name=Layered Decisions
type=layers
containers =
    alphabet.decisions
layers=
    presentation
    infrastructure
    application
    domain
exhaustive = true

[importlinter:contract:layers-events]
name=Layered Subject Events
type=layers
containers =
    alphabet.subject_events
layers=
    presentation
    infrastructure
    application
    domain
exhaustive = true

[importlinter:contract:layers-metrics]
name=Layered Metrics
type=layers
containers =
    alphabet.metrics
layers=
    presentation
    infrastructure
    application
    domain
exhaustive = true

[importlinter:contract:no-bootstrap-import]
name = No bootstrap import
type = forbidden
source_modules =
    alphabet.access
    alphabet.shared
forbidden_modules =
    alphabet.bootstrap

[importlinter:contract:no-cycles-between-modules]
name = No cycles between modules
type = acyclic_siblings
ancestors = alphabet
depth = 1